/* Global colors */
:root {
	--view-bg-color: var(--window-bg-color);
}

/* Bubble images */
image.bubble {
	border-radius: 50%;
	background: color-mix(in srgb, currentColor 25%, transparent);
	min-width: 2em;
	min-height: 2em;
}

/* Filter tag labels */
label.tag {
	border-radius: 9999px;
	background: color-mix(in srgb, var(--accent-bg-color) 25%, transparent);
	padding: 4px 10px;
}
